* {
  box-sizing: border-box;
}
 
body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
    background-color:#DADADA;
}
 
.container{
  
  background-color:white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
}
 
.container h2, h3 {
    text-align: center;
}
 
.container h5{
    padding-top: 45px;
    text-align: center;
}
 
.container label{
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container input{
  width: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 20px;
  color: #0A0A0A;
  border: none;
  background-color: #DADADA;
    padding: 12px 15px;
    margin: 8px 0;
  width: 100%;
    outline: none;

}
 
.container button {
  margin: 0 auto;
  display:block;
  border-radius: 20px;
  border: 1px solid black;
  background-color: black;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  align-items: center;
  box-shadow: 5px 5px 10px #888888;
}
 
.container button:active {
  transform: scale(0.95);
}
 
.container button:focus {
  outline: none;
}
 #cs1,#cs2,#sectionBalance,#sectionWithdraw{
  display: none;
} 
 
/* input {
background-color: white;
padding: 12px 15px;
margin: 8px 0;
width: 100%;
outline: none;
} */